.main_chat
  .main_chat__group-info
    .main_chat__group-info__top-items
      .main_chat__group-info__top-items__left
        .main_chat__group-info__top-items__left__group-name
          =@group.name
        %ul.main_chat__group-info__top-items__left__member-list
          Member :
          %li.main_chat__group-info__top-items__left__member-list__member
            -@group.users.each do |user|
              = user.name + " "
      .main_chat__group-info__top-items__edit-btn
        = link_to edit_group_path(@group), class: "edit-btn" do
          Edits

  .main_chat__message-list
    = render @messages

  .main_chat__message-form
    .main_chat__message-form__bottom-items
      .main_chat__message-form__bottom-items__new-message
        = form_with model: [@group, @message], html: {class: "message-form-1"}, local: true do |f|
          .main_chat__message-form__bottom-items__new-message__input-text
            = f.text_field :content, class: 'text', placeholder: 'type a message'
            = f.label :image, class: 'input-text' do
              = icon('far', 'image', class: 'fa-image')
              = f.file_field :image, class: 'file'
          .main_chat__message-form__bottom-items__new-message__send-btn
            = f.submit 'Send', class: 'btn'